Repository Fleezyflo/moh-time-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-sql-fstrings, sync-openapi-spec, sync-ui-types, sync-system-map

no-sql-fstrings:
  name: Check for SQL f-string injection
  entry: bash -c 'grep -rn "execute.*f\"" --include="*.py" lib/ui_spec_v21/endpoints.py lib/ui_spec_v21/detectors.py lib/ui_spec_v21/inbox_lifecycle.py lib/ui_spec_v21/issue_lifecycle.py lib/collectors/ 2>/dev/null && exit 1 || exit 0'
  language: system
  ...

sync-openapi-spec:
  name: Sync OpenAPI spec
  entry: bash -c 'python scripts/export_openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

sync-ui-types:
  name: Sync UI generated types
  entry: bash -c 'bash scripts/generate_ui_types.sh && git add time-os-ui/src/types/generated.ts'
  language: system
  pass_filenames: false

sync-system-map:
  name: Sync system map
  entry: bash -c 'python scripts/generate_system_map.py && git add docs/system-map.json'
  language: system
  pass_filenames: false

feat: wrap 9 pages with PageLayout + SummaryGrid + MetricCard
  BUILD_STRATEGY.md
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
  time-os-ui/src/intelligence/pages/Patterns.tsx
  time-os-ui/src/intelligence/pages/Signals.tsx
  time-os-ui/src/pages/ClientDetailSpec.tsx
  time-os-ui/src/pages/ClientIndex.tsx
  time-os-ui/src/pages/FixData.tsx
  time-os-ui/src/pages/Inbox.tsx
  time-os-ui/src/pages/Issues.tsx
  time-os-ui/src/pages/Team.tsx
  time-os-ui/src/pages/TeamDetail.tsx
Due: none

feat: add portfolio page with health, risks, and financials
  BUILD_STRATEGY.md
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/portfolio/ARAgingSummary.tsx
  time-os-ui/src/components/portfolio/ClientDistributionChart.tsx
  time-os-ui/src/components/portfolio/CriticalItemList.tsx
  time-os-ui/src/components/portfolio/RiskList.tsx
  time-os-ui/src/components/portfolio/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Portfolio.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

feat: extract inbox hooks and add category tabs
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
  time-os-ui/src/components/inbox/InboxCategoryTabs.tsx
  time-os-ui/src/components/inbox/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Inbox.tsx
Due: none

feat: phase 3.3+3.4 -- client + team enhancement
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
  time-os-ui/src/components/layout/TabContainer.tsx
  time-os-ui/src/components/layout/TrajectorySparkline.tsx
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/ClientDetailSpec.tsx
  time-os-ui/src/pages/TeamDetail.tsx
Due: none

feat: phase 3.5 -- operations page at /ops
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/scripts/check-bundle-size.js
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Operations.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

feat: phase 3.5 -- operations page at /ops
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/scripts/check-bundle-size.js
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Operations.tsx
  time-os-ui/src/pages/RecentlyActiveDrilldown.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

fix: resolve pre-existing lint and end-of-file issues
  QUERY_OPTIMIZATION_REPORT.md
  _archive/agent_outputs/summary.md
  cli_v4.py
  design/system/DESIGN_SYSTEM.md
  docs/agent_prompts/02_correctness_review.md
  docs/agent_prompts/99_verification_bundle.md
  setup.py
  tasks/TASK_ID_1_1_CORRELATION_CONFIDENCE.md
  tasks/TASK_ID_2_1_COST_PROXIES.md
  tasks/TASK_ID_3_1_ENTITY_PROFILES.md
  tasks/TASK_ID_4_1_OUTCOME_TRACKING.md
  tasks/TASK_ID_5_1_PATTERN_TRENDING.md
  tasks/TASK_ID_6_1_SYNTHESIS_VALIDATION.md
  tools/db_exec.py
Due: no-sql-fstrings

ci: sync pre-commit config — remove redundant sql grep hook
  .pre-commit-config.yaml
Due: none

feat: phase 3.5 -- operations page at /ops
  time-os-ui/src/pages/RecentlyActiveDrilldown.tsx
Due: none

fix: eliminate B108 and B314 bandit findings in tests
  tests/test_autonomous_loop.py
  tests/test_backup.py
  tests/test_cost_to_serve.py
  tests/test_scenario_engine.py
  tests/test_sync_schedule.py
  tests/test_unified_intelligence.py
Due: no-sql-fstrings

chore: apply ruff format to cli.py
  cli.py
Due: no-sql-fstrings

docs: add ADR-0007 for centralized safe_sql bypass elimination
  docs/adr/0007-centralized-safe-sql-bypass-elimination.md
Due: none

feat: phase 5 accessibility and polish
  time-os-ui/src/components/EvidenceViewer.tsx
  time-os-ui/src/components/IssueCard.tsx
  time-os-ui/src/components/ProposalCard.tsx
  time-os-ui/src/components/RoomDrawer.tsx
  time-os-ui/src/intelligence/components/CommunicationChart.tsx
  time-os-ui/src/intelligence/components/DistributionChart.tsx
  time-os-ui/src/intelligence/components/PatternCard.tsx
  time-os-ui/src/intelligence/components/ProposalCard.tsx
  time-os-ui/src/intelligence/components/SignalCard.tsx
  time-os-ui/src/intelligence/components/Sparkline.tsx
  time-os-ui/src/intelligence/components/chartColors.ts
  time-os-ui/src/intelligence/views/sections/ProjectOperationalState.tsx
  time-os-ui/src/pages/ClientIndex.tsx
  time-os-ui/src/pages/Inbox.tsx
  time-os-ui/src/pages/Issues.tsx
  time-os-ui/src/pages/TeamDetail.tsx
Due: none

chore: session 12 cleanup -- route consolidation and docs
  BUILD_PLAN.md
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

docs: add missing phase markers, fix stale handoff, add cross-file rule
  BUILD_PLAN.md
  CLAUDE.md
  HANDOFF.md
  SESSION_LOG.md
Due: none

docs: add cross-file verification step to session entry checklist
  CLAUDE.md
Due: none

feat: phase 6 -- task management pages and components
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/tasks/ApprovalDialog.tsx
  time-os-ui/src/components/tasks/DelegationPanel.tsx
  time-os-ui/src/components/tasks/TaskActions.tsx
  time-os-ui/src/components/tasks/TaskCard.tsx
  time-os-ui/src/components/tasks/TaskNotesList.tsx
  time-os-ui/src/components/tasks/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/TaskDetail.tsx
  time-os-ui/src/pages/TaskList.tsx
  time-os-ui/src/pages/TeamDetail.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
  time-os-ui/src/types/api.ts
Due: none

fix: wrap items/savedFilters in useMemo to fix exhaustive-deps warnings
  time-os-ui/src/pages/Priorities.tsx
Due: none

fix: prettier format api.ts
  time-os-ui/src/lib/api.ts
Due: none

feat: phase 7 -- priorities workspace page and components
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/priorities/BulkActionBar.tsx
  time-os-ui/src/components/priorities/GroupedPriorityView.tsx
  time-os-ui/src/components/priorities/PriorityFilters.tsx
  time-os-ui/src/components/priorities/SavedFilterSelector.tsx
  time-os-ui/src/components/priorities/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Priorities.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

feat: add schedule and capacity pages -- phase 8
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/capacity/CapacityGauge.tsx
  time-os-ui/src/components/capacity/ForecastChart.tsx
  time-os-ui/src/components/schedule/ScheduleTaskDialog.tsx
  time-os-ui/src/components/schedule/TimeBlockGrid.tsx
  time-os-ui/src/components/schedule/WeekView.tsx
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Capacity.tsx
  time-os-ui/src/pages/Schedule.tsx
  time-os-ui/src/router.tsx
Due: none

docs: add ADR-0007 for phase 8 time and capacity pages
  docs/adr/0007-phase-8-time-capacity-ui.md
Due: none

feat: add commitments page with list, untracked alert, link-to-task
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/commitments/CommitmentList.tsx
  time-os-ui/src/components/commitments/LinkToTaskDialog.tsx
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Commitments.tsx
  time-os-ui/src/router.tsx
Due: none

feat: add commitments page with list, untracked alert, link-to-task
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  docs/adr/0008-phase-9-commitments-ui.md
  docs/system-map.json
  time-os-ui/src/components/commitments/CommitmentList.tsx
  time-os-ui/src/components/commitments/LinkToTaskDialog.tsx
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Commitments.tsx
  time-os-ui/src/router.tsx
Due: none

fix: move useMemo above early returns in Approvals page
  time-os-ui/src/pages/Approvals.tsx
Due: none

feat: add commitments page with list, untracked alert, link-to-task
  docs/adr/0008-phase-9-commitments-ui.md
Due: none

feat: add phases 9-12 -- commitments, notifications, governance, enrollment
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  docs/system-map.json
  time-os-ui/src/components/enrollment/CandidateList.tsx
  time-os-ui/src/components/enrollment/DetectedProjectsAlert.tsx
  time-os-ui/src/components/enrollment/EnrollmentActionBar.tsx
  time-os-ui/src/components/enrollment/ProjectProposalForm.tsx
  time-os-ui/src/components/enrollment/index.ts
  time-os-ui/src/components/governance/ApprovalQueue.tsx
  time-os-ui/src/components/governance/BundleTimeline.tsx
  time-os-ui/src/components/governance/CleanupPreviewConfirm.tsx
  time-os-ui/src/components/governance/DataQualityHealthScore.tsx
  time-os-ui/src/components/governance/EmergencyBrakeToggle.tsx
  time-os-ui/src/components/governance/GovernanceDomainCards.tsx
  time-os-ui/src/components/governance/SearchOverlay.tsx
  time-os-ui/src/components/notifications/EmailTriageList.tsx
  time-os-ui/src/components/notifications/NotificationBadge.tsx
  time-os-ui/src/components/notifications/NotificationList.tsx
  time-os-ui/src/components/notifications/WeeklyDigestView.tsx
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/Approvals.tsx
  time-os-ui/src/pages/DataQuality.tsx
  time-os-ui/src/pages/Digest.tsx
  time-os-ui/src/pages/Governance.tsx
  time-os-ui/src/pages/Notifications.tsx
  time-os-ui/src/pages/ProjectEnrollment.tsx
  time-os-ui/src/pages/index.ts
  time-os-ui/src/router.tsx
Due: none

fix: raise JS bundle budget 550→650KB for phases 9-12
  time-os-ui/scripts/check-bundle-size.js
Due: none

chore: remove dead legacy pages and unused barrel
  time-os-ui/src/pages/ColdClients.tsx
  time-os-ui/src/pages/RecentlyActiveDrilldown.tsx
  time-os-ui/src/pages/Snapshot.tsx
  time-os-ui/src/pages/index.ts
Due: none

feat: surface collector secondary tables across detail pages
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  api/spec_router.py
  docs/adr/0009-phase-13-collector-data-depth.md
  docs/openapi.json
  docs/system-map.json
  lib/query_engine.py
  time-os-ui/src/lib/api.ts
  time-os-ui/src/lib/hooks.ts
  time-os-ui/src/pages/ClientDetailSpec.tsx
  time-os-ui/src/pages/Operations.tsx
  time-os-ui/src/pages/Portfolio.tsx
  time-os-ui/src/pages/TaskDetail.tsx
  time-os-ui/src/pages/TeamDetail.tsx
  time-os-ui/src/types/generated.ts
Due: no-sql-fstrings, sync-openapi-spec, sync-ui-types, sync-system-map

feat: phase 14 -- cleanup, legacy migration, hardening
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  api/spec_router.py
  design/system/tokens.css
  docs/openapi.json
  docs/system-map.json
  time-os-ui/src/components/ExportButton.tsx
  time-os-ui/src/components/RoomDrawer.tsx
  time-os-ui/src/components/governance/ApprovalQueue.tsx
  time-os-ui/src/components/governance/BundleTimeline.tsx
  time-os-ui/src/components/governance/DataQualityHealthScore.tsx
  time-os-ui/src/components/governance/GovernanceDomainCards.tsx
  time-os-ui/src/intelligence/components/chartColors.ts
  time-os-ui/src/intelligence/pages/Briefing.tsx
  time-os-ui/src/intelligence/pages/CommandCenter.tsx
  time-os-ui/src/intelligence/pages/Proposals.tsx
  time-os-ui/src/intelligence/pages/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/pages/Commitments.tsx
  time-os-ui/src/pages/FixData.tsx
  time-os-ui/src/pages/Issues.tsx
  time-os-ui/src/pages/Priorities.tsx
  time-os-ui/src/pages/TaskList.tsx
  time-os-ui/src/router.tsx
  time-os-ui/src/types/generated.ts
Due: no-sql-fstrings, sync-openapi-spec, sync-ui-types, sync-system-map

feat: phase 14 -- cleanup, legacy migration, hardening
  BUILD_PLAN.md
  HANDOFF.md
  SESSION_LOG.md
  api/spec_router.py
  design/system/tokens.css
  docs/adr/0010-phase-14-cleanup-hardening.md
  docs/openapi.json
  docs/system-map.json
  time-os-ui/src/components/ExportButton.tsx
  time-os-ui/src/components/RoomDrawer.tsx
  time-os-ui/src/components/governance/ApprovalQueue.tsx
  time-os-ui/src/components/governance/BundleTimeline.tsx
  time-os-ui/src/components/governance/DataQualityHealthScore.tsx
  time-os-ui/src/components/governance/GovernanceDomainCards.tsx
  time-os-ui/src/intelligence/components/chartColors.ts
  time-os-ui/src/intelligence/pages/Briefing.tsx
  time-os-ui/src/intelligence/pages/CommandCenter.tsx
  time-os-ui/src/intelligence/pages/Proposals.tsx
  time-os-ui/src/intelligence/pages/index.ts
  time-os-ui/src/lib/api.ts
  time-os-ui/src/pages/Commitments.tsx
  time-os-ui/src/pages/FixData.tsx
  time-os-ui/src/pages/Issues.tsx
  time-os-ui/src/pages/Priorities.tsx
  time-os-ui/src/pages/TaskList.tsx
  time-os-ui/src/router.tsx
  time-os-ui/src/types/generated.ts
Due: no-sql-fstrings, sync-openapi-spec, sync-ui-types, sync-system-map

fix: resolve 4 console errors from post-buildout
  api/server.py
  docs/adr/0011-console-error-fixes.md
  time-os-ui/index.html
  time-os-ui/src/main.tsx
  time-os-ui/vite.config.ts
Due: no-sql-fstrings, sync-openapi-spec, sync-ui-types, sync-system-map

feat: make portfolio critical items and risk list clickable
  time-os-ui/src/components/portfolio/CriticalItemList.tsx
  time-os-ui/src/components/portfolio/RiskList.tsx
Due: none

fix: align task UI with actual Asana collector data shape
  time-os-ui/src/components/tasks/TaskCard.tsx
  time-os-ui/src/pages/TaskDetail.tsx
  time-os-ui/src/pages/TaskList.tsx
  time-os-ui/src/pages/TeamDetail.tsx
  time-os-ui/src/types/api.ts
Due: none

Path conditions:
  no-sql-fstrings: any of: \.py$
  sync-openapi-spec: any of: ^(api|lib)/.*\.py$ and \.py$
  sync-ui-types: any of: ^(api|lib)/.*\.py$
  sync-system-map: any of: ^(lib|api|collectors|cli|engine)/.*\.py$ and \.py$
